
/*------------------------------------*\
    #Fonts include
\*------------------------------------*/

$font-l:            'Roboto Light';
$font-r:            'Roboto Regular';
$font-b:            'Roboto Bold';

@include font-face($font-l, "fonts/RobotoLight", null, normal, eot woff ttf);
@include font-face($font-r, "fonts/RobotoRegular", null, normal, eot woff ttf);
@include font-face($font-b, "fonts/RobotoBold", null, normal, eot woff ttf);